pkgbase = devtools-user
	pkgdesc = Tools for Arch Linux Dictator Repository package maintainers
	pkgver = 20180821
	pkgrel = 1
	url = https://gitlab.com/dctxmei/devtools-user
	arch = any
	license = GPL
	makedepends = cmake
	makedepends = git
	depends = devtools
	source = git+https://gitlab.com/dctxmei/devtools-user.git
	sha512sums = SKIP

pkgname = devtools-user

