[Unit]
Description=TPROXY Rule
After=network.target network-online.target nss-lookup.target
Requires=nftables.service v2ray-dir.service
Wants=network-online.target

[Service]
ExecStart=/usr/lib/tproxyrule
Type=oneshot

[Install]
WantedBy=multi-user.target
