[Unit]
Description=TPROXY Rule
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/ip rule add fwmark 1 table 100\; /usr/bin/ip route add local 0.0.0.0/0 dev lo table 100
Type=oneshot

[Install]
WantedBy=multi-user.target
