[Unit]
Description=TPROXY Rule
After=network.target nss-lookup.target nftables.service
Wants=network.target

[Service]
ExecStart=/usr/lib/tproxyrule
Type=oneshot

[Install]
WantedBy=multi-user.target
